@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

header {
  background-color: #222222;
  min-height: 14vh;
  margin-bottom: auto;
}

header .title {
  position: absolute;
  font-size: 30px;
  margin-left: 2.2%;
  margin-top: 0px;
  padding-top: 2%;
  display: inline-block;
  vertical-align: top;
}

header .logo {
  width: 100px;
  position: absolute;
  left: 88%;
  padding-top: 1.5%;
}

body {
  font-family: sans-serif;
  background-color: #303030;
  color: white;
  font-size: 20px;
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Game Trackers (team score... etc) */
.top-attributes {
  display: flex;
  justify-content: space-around;
}

.score {
  left: 1.5%;
  padding: 10px;
  font-size: 18px;
  /*font-family: 'Press Start 2P', cursive; */
  font-weight: bold;
  border-radius: 5px;
  position: relative;
  align-content: center;
}

/* Brief Overlay */
#overlay {
  position: fixed;
  display: none;
  width: 85%;
  height: 85%;
  top: 7%;
  left: 7%;
  right: 7%;
  bottom: 7%;
  background-color: grey;
  z-index: 2;
  cursor: pointer;
  border-radius: 20px;
}

#overlaybkg {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-70%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.briefTitle {
  font-size: 30px;
}

.briefDescription {
  font-size: 20px;
}

/* Footer */
footer {
  background-color: black;
  color: black;
  padding: 0.5%;
  margin-top: auto;
}

footer .briefbtn {
  background-color: #A6A3A3;
  color: black;
  font-weight: bold;
  position: relative;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  left: 91%;
}

/* Playable Game Area */
.GameBox {
  width: 800px;
  height: 390px;
  background-color: white;
  color: black;
  position: relative;
  margin: auto;
  border: 10px solid black;
  border-radius: 10px;
  align-content: center;
}

/* Start position */
.start-position {
  background-color: yellow;
  height: 35px;
  width: 50px;
  margin-left: 17px;
}

/* Walls */
.wall-top {
 margin-top: 15px;
 margin-left: 17px;
}

.wall-left {
  margin-left: 17px;
  margin-top: 5px;
}

.walls-centre {
  display: inline-block;
  position: absolute;
}

.walls-centre .top {
  margin-top: 2%;
  margin-left: 48%;
  vertical-align: middle;
}

.walls-centre .centre {
  margin-top: 6%;
  margin-bottom: 15%;
  margin-left: 25%;
  vertical-align: middle;
}

.walls-centre .bottom {
  margin-top: 15%;
  margin-left: -60%;
  vertical-align: middle;
}

.wall-right {
  position: relative;
  left: 85.5%;
  margin-bottom: 10%;
  justify-content: end;
}

/* Character */
.character{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: red;
  
  position: absolute;
  left: 300px;
  top: 200px;
}